<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CPU_Ripper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CPU_Ripper.Properties.Settings>
            <setting name="iter_successor" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="iter_bool" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="iter_queue" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="iter_linkedlist" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="iter_tree" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="auto_updates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fluid_loading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iter_avg" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="num_tests" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="glue" serializeAs="String">
                <value>False</value>
            </setting>
        </CPU_Ripper.Properties.Settings>
    </userSettings>
</configuration>